@import '../../../../src/styles.scss';
main{
    background-color: $background-color;
    padding-top: $min-header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 100dvw;
    min-height: calc(100dvh - $min-footer-height);
}