<header>
    <div id="logo" routerLink="/" >
        <h1>Show Me Shows</h1>
        <h3 class="subtitle">Series, en serio.</h3>
    </div>
    <div id="user">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
    </div>
    <div id="burger" (click)="toggleMenu()" [ngClass]="{'close': isMenuOpen()}">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="search" [ngClass]="{'is-open': isMenuOpen()}">
        <input type="text" placeholder="Buscar..." />
    </div>
    <nav id="navbar" [ngClass]="{'is-open': isMenuOpen()}">
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="isMenuOpen.set(false)" >HOME</a></li>
            <!--
            <li><a routerLink="/shows" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"  >TV SHOWS</a></li>
            <li><a routerLink="/movies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"  >MOVIES</a></li>
            -->
        </ul>
    </nav>
</header>
