<footer>
    <div id="logo">
        <h1>Show Me Shows</h1>
    </div>
    <ul id="nav">
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/shows">TV SHOWS</a></li>
        <li><a routerLink="/movies">MOVIES</a></li>
    </ul>
    <ul id="social">
        <li><a href="https://www.facebook.com/" class="fab fa-facebook" target="_blank"></a></li>
        <li><a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a></li>
        <li><a href="https://www.twitter.com/" class="fab fa-twitter" target="_blank"></a></li>
        <li><a href="https://www.linkedin.com/" class="fab fa-linkedin" target="_blank"></a></li>
    </ul>
</footer>