$white: #f1f1f1;
$black: #1d1d1b;

$red: #BB1737;
$red-dark: #C9133A;

$blue-lighter: #314F61;
$blue-light: #0F2E43;
$blue: #142430;
$blue-dark: #0A1923;

// Color background
$background-color: $blue-dark;
// Main colors
$primary-color: $white;
$secondary-color: $blue-lighter;