$white: #fff6e7;
$black: #1d1d1b;
$red: #bf414a;
$blue: #8881bd;
$orange: #f2ce74;
$pink: #efc2b8;
$yellow: #eef033;


// Color background
$background-color: $white;
// Main colors
$primary-color: $black;
$secondary-color: $black;