@import 'styles/_variables.scss';
@import 'styles/_color.scss';
@import 'styles/_typography.scss';
@import 'styles/_button.scss';

html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
html, body, main{
    background-color: $background-color;
    color: $white;
}
*{
    box-sizing: border-box;
    outline: none;
}
a{
    cursor: pointer;
    color: $blue-lighter;
    text-decoration: none;
    &:hover{
        text-decoration: $red-dark;
    }
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
